.App {
  text-align: center;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body
{
  background-image:url("./186443121_96a924af-0fcd-4414-a378-55416e7fb2a6.jpg");
  background-size: cover;
}

.form-select, .form-control
{
  display: block;
  margin: 0 auto;
  width: 50% !important ; 
  text-align: center;
  
}

#submitButton
{
  margin-top: 1%;
}

.alert-info
{
  margin: auto;
  width: 50%;
}
