<h1>Weather App</h1>

<div class="form-check form-switch">
  <input class="form-check-input" id="toggle" type="checkbox" role="switch" checked onclick="lightDarkMode()">
  <label class="form-check-label">Dark Mode</label>
</div>

<div>
<button class="btn btn-primary" (click)="showContent('first')" >City Name & Country Code</button>
<button class="btn btn-primary"  (click)="showContent('second')">Latitude & Longitude</button>
</div>
<div *ngIf="showFirstContent">
  <div class="container mt-4">
    <!-- Display error message if it exists -->
    <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ errorMessage }}
      <button type="button" class="btn-close" (click)="errorMessage = null" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade show" role="alert">
      {{ successMessage }}
      <button type="button" class="btn-close" (click)="successMessage = null" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    </div>
  <main>
    
    <input class="form-control" type="text" placeholder="City Name" [(ngModel)]="cityName">
    <input class="form-control" type="text" placeholder="Country Code" [(ngModel)]="countryCode">
    <button  class="btn btn-primary" type="submit" (click)="inputCityText()">Search</button>
    
    <table class="table table-striped-columns">
      <thead>
        <tr>
          <th scope="col">City Name</th>
          <th scope="col">Temp</th>
          <th scope="col">Feels Like</th>
          <th scope="col">Temp Min</th>
          <th scope="col">Temp Max</th>
          <th scope="col">Humidity</th>
          <th scope="col">Weather Condition</th>
          <th scope="col">Description</th>
          <th scope="col">Sunrise</th>
          <th scope="col">Sunset</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{name}}</td>
          <td>{{temp}}</td>
          <td>{{feels_like}}</td>
          <td>{{temp_min}}</td>
          <td>{{temp_max}}</td>
          <td>{{humidity}}%</td>
          <td>{{main}}</td>
          <td>{{description}}</td>
          <td>{{sunrise}}</td>
          <td>{{sunset}}</td>
        </tr>
      </tbody>
    </table>
</main>
</div>

<div *ngIf="showSecondContent">
  <div class="container mt-4">
    <!-- Display error message if it exists -->
    <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ errorMessage }}
      <button type="button" class="btn-close" (click)="errorMessage = null" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade show" role="alert">
      {{ successMessage }}
      <button type="button" class="btn-close" (click)="successMessage = null" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    </div>
  <main>
    <input class="form-control" type="number" placeholder="Latitude" [(ngModel)]="latitude">
    <input class="form-control" type="number" placeholder="Longitude" [(ngModel)]="longitude">
    <button class="btn btn-primary" type="submit" (click)="inputLatLongText()">Search</button>
    
    <table class="table table-striped-columns">
      <thead>
        <tr>
          <th scope="col">City Name</th>
          <th scope="col">Temp</th>
          <th scope="col">Feels Like</th>
          <th scope="col">Temp Min</th>
          <th scope="col">Temp Max</th>
          <th scope="col">Humidity</th>
          <th scope="col">Weather Condition</th>
          <th scope="col">Description</th>
          <th scope="col">Sunrise</th>
          <th scope="col">Sunset</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{name}}</td>
          <td>{{temp}}</td>
          <td>{{feels_like}}</td>
          <td>{{temp_min}}</td>
          <td>{{temp_max}}</td>
          <td>{{humidity}}%</td>
          <td>{{main}}</td>
          <td>{{description}}</td>
          <td>{{sunrise}}</td>
          <td>{{sunset}}</td>
        </tr>
      </tbody>
    </table>
</main>
</div>
  
<router-outlet />
