@{
    ViewData["Title"] = "About Us";
}
<h1 class="display-3">@ViewData["Title"]</h1>
<br>

<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" href="~/css/About.css" />
</head>

<body>
    <div class="container-fluid">
        <div class="circular--landscape">
            <img src="/css/GURJOT_IMG_PNG.png" class="img-fluid" />
        </div>
        <div class="text">
            <p>
                I am part of the “Bachelor of Technology (B.Tech.) Software Engineering Technology” program. I love programming, playing video games and going swimming! I am good at work load management.

            </p>
        </div>
    </div>
    <br/>
    <div class="container-fluid">
        <div class="circular--landscape">
            <img src="/css/HARNEQUE_IMG_PNG.png" class="img-fluid"/>
        </div>
        <div class="text">
            <p>

                I am in the Software Engineering program. My interests are playing console games, watching tv shows, programming and playing basketball. I am good at researching. I did an 8 month coop term.

            </p>
        </div>
    </div>
    <br/>
    <div class="container-fluid">
        <div class="circular--landscape">
            <img src="/css/Picture3.png" class="img-fluid" />
        </div>
        <div class="text">
            <p>
                My name is Sherwin, I am currently enrolled in the BTech program. I enjoy programming and love to do leetcode when I am free. I am also curious about Code Ethics and practicality and how it will help in the future.

            </p>
        </div>
    </div>
</body>
</html>