@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid mt-4">
    <div class="row text-center justify-content-center align-items-center">
        <div class="col">
            <div class="card text-bg-primary mb-4">
                <div class="card-body mx-auto m-4">
                    <h1 class="card-title mb-3 fw-semibold display-3">Welcome to StreamWatch!</h1>
                    <p class="card-text m-4">StreamWatch is a great app for movie and TV fans. It lets you search for your favorite movies, shows, and new releases. If you find something that grabs your attention, you can add it to your favorite list. With StreamWatch, you can stay up to date with the newest movie and TV shows, no matter if you're a big movie fan or just a casual viewer.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-6 col-lg-6 mb-4">
            <div class="card text-bg-primary">
                <div class="card-body m-4">
                    <h2 class="card-title fw-semibold">Don't have an account?</h2>
                    <p class="card-text">Create one quickly and easily with our easy-to-use sign-up page. Signing up with us is super easy and fast.</p>
                    <a href="/Signup/Signup" class="btn btn-secondary btn-lg mt-4">Register Now</a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 mb-4">
            <div class="card text-bg-primary">
                <div class="card-body m-4">
                    <h2 class="card-title fw-semibold">Haven't logged in yet?</h2>
                    <p class="card-text">If you haven’t logged in yet, you’re missing out on some of the best features and benefits of our platform. So why wait? Log in today.</p>
                    <a href="/Login/Login" class="btn btn-secondary btn-lg mt-4">Login Now</a>
                </div>
            </div>
        </div>
    </div>
</div>

