
@{
    ViewData["Title"] = "Index";
}

<script src="~/js/EmailConfirmation.js" asp-append-version="true"></script>
<div id="alert"></div>
<div class="ontainer-fluid mt-4">
    <div class="row text-center justify-content-center align-items-center">
        <div class="col">
            <div class="card text-bg-primary mb-4">
                <div class="card-body mx-auto m-4">
                    <h1 class="card-title mb-3 fw-semibold display-3">Welcome to StreamWatch!</h1>
                    <p class="card-text m-4">StreamWatch is a great app for movie and TV fans. It lets you search for your favorite movies, shows, and new releases. If you find something that grabs your attention, you can add it to your favorite list. With StreamWatch, you can stay up to date with the newest movie and TV shows, no matter if you're a big movie fan or just a casual viewer.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center justify-content-center align-items-center">
        <div class="col-sm-12 col-md-6 col-lg-6 mb-4">
            <div class="card text-bg-primary">
                <div class="card-body m-4">
                    <h2 class="card-title fw-semibold">Search for you favourite Content!</h2>
                    <p class="card-text">Discover your favourite films and television shows with our user-friendly search feature. It's super simple to use.</p>
                    <a href="/User/Search" class="btn btn-secondary btn-lg mt-4">Search Now</a>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 mb-4">
            <div class="card text-bg-primary">
                <div class="card-body m-4">
                    <h2 class="card-title fw-semibold">Stay in the loop with our Calendar!</h2>
                    <p class="card-text">Discover the future of fun with our exclusive calendar. Stay up to date and never miss out on your favourite films and TV shows.</p>
                    <a href="/User/Calendar" class="btn btn-secondary btn-lg mt-4">Go To Calendar</a>
                </div>
            </div>
        </div>
    </div>
 </div>

