@model StreamWatch_SeniorENG.Models.ChangePassword

@{
    ViewData["Title"] = "Change Password";
}

<!-- Include Search.js with cache-busting -->
<script src="~/js/ChangePassword.js" asp-append-version="true"></script>

<h1>@ViewData["Title"]</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div id="alert"></div>
            <div id="errMessage" class="text-center text-danger"></div>
            <div class="form-floating">
                <input asp-for="Password" class="form-control" id="password" aria-required="true" />
                <label asp-for="Password" class="form-label"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
               
            </div>

            <br/>

            <div class="form-floating">
                <input asp-for="ConfirmPassword" class="form-control" id="confirmPassword" aria-required="true" />
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

             <br/>

            <button type="submit" class="w-100 btn btn-lg btn-primary">Change Password</button>
        </form>
    </div>
</div>