
@{
    ViewData["Title"] = "Account Settings";
}

<h1>Account Settings</h1>

<br />
<a asp-controller="User" asp-action="Index" class="btn btn-primary">Home Page</a>

<br/>
<br/>

<a asp-controller="AccountSettings" asp-action="ChangePassword" class="btn btn-primary">Change Password</a>

<br />
<br />
<a asp-controller="User" asp-action="DeleteUser" class="btn btn-danger">Delete Account</a>


